<div class="container">
  <div class="row">
    <div class="card border-primary mt-4 w-20 mx-auto">
      <%= image_tag @post.image, class: "card-image-top" %>
      <div class="card-body">
        <h5 class="card-title">
          <%= @post.title %>
        </h5>
        <p class="card-text">
          <%= @post.introduction %>
        </p>
        <ul class="list-group list-group-flush">
          <% @post_tags.each do |tag| %>

          <li class="list-group-item"><%= tag.name %><%= "(#{tag.posts.count})" %></li>
          <% end %>
        </ul>
        <div class="card-footer">
          <h5 class="text-muted"><%= @post.user.name %></h5>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "削除", post_path(@post.id), method: :delete %>
</div>