<%= flash[:notice] %>
<div class="row-sm">
  <div class="col-sm-8">
     <div class="card-post">
      <div class="card w-50 offset-6 mt-5 shadow-lg">
       <%= image_tag @post.image, class: "card-imag-top" %>
       <div class="card-body">
        <h5 class="card-title"><%= @post.title %></h5>
        <p class="card-text"><%= @post.introduction %></p>
        <%= link_to @post.user.name, admin_user_path(@post.user.id), class: "btn btn-info" %>
        <%= link_to "投稿内容編集", edit_admin_post_path(@post.id), class: "ml-2 btn btn-secondary" %>
        <%= link_to "投稿削除", admin_post_path(@post.user.id), method: :delete, class: "ml-2 btn btn-danger" %>
       </div>
      </div>
     </div>
  </div>
  <div class="col-sm-5 offset-3 mt-5">
   <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
         <th scope="col">コメント</th>
         <th scope="col">投稿者</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each_with_index do |post, i| %>
      <tr>
        <th scop="row"><%= i+1 %></th>
        <td><%= post.comment %></td>
        <td><%= post.user.name %></td>
        <td><%= link_to "削除", admin_post_post_comment_path(post.post,post), method: :delete %></td>
      </tr>
      <% end %>
    </tbody>
   </table>
  </div>
</div>







