<div class="container-sm">
  <div class="row mt-4">
    <h2>ログイン</h2>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row mt-3">
    <%= f.label "メールアドレス", class: "h5 col-5 text-secondary" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="row mt-3">
    <%= f.label "パスワード", class: "h5 col-5 text-secondary" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  <div class="row mt-4 offset-5">
    <%= f.submit "Log in" %>
  </div>
  <% end %>
</div>






