<div class="container">
  <div class="row mt-3 text-success">
    <div class="col text-center">
     <h3>マイページ</h3>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-3 text-center">
      <h4 class="text-primary">ニックネーム</h4>
      <h4><%= @user.name %></h4>
    </div>
    <div class="col-lg-3 text-center">
      <h4 class="text-primary">メールアドレス</h4>
      <h4><%= @user.email %></h4>
    </div>
    <div class="col-lg-3 text-center">
      <h4 class="text-primary">所在地</h4>
      <h4><%= @user.address %></h4>
    </div>
    <div class="col-lg-3 text-center">
      <h4><%= link_to "登録情報編集する", user_information_edit_path, class: "btn btn-dark" %></h4>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col text-center">
      <h4 class="text-secondary">自分の投稿一覧</h4>
    </div>
  </div>
    <div class="row">
     <%= render 'list', users: @users, name: @name %>
    </div>
</div>