<!DOCTYPE html>
<html>
  <head>
    <title>TravelingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
     <div class="container-sm text-center">
        <div class="row mt-4">
          <% if  user_signed_in? && current_user.email == "guest@aiu.com" %>
            <button type="button" class="btn btn-outline-secondary mx-2">
              <%= link_to "新規登録", new_user_registration_path %>
            </button>
            <button type="button" class="btn btn-outline-secondary mx-2">
              <%= link_to "投稿一覧", posts_path %>
            </button>
            <button type="button" class="btn btn-outline-primary mx-2">
              <%= link_to "マイページ", user_path(@user) %>
            </button>
            <button type="button" class="btn btn-outline-primary mx-2">
             <%= link_to "top", root_path %>
            </button>
            <button type="button" class="btn btn-outline-primary mx-2">
             <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </button>
            <%= flash[:notice] %>
            <div class="col-4">
              <p>ゲストログイン中</p>
            </div>
           <% elsif user_signed_in? %>
             <button type="button" class="btn btn-outline-primary mx-2">
              <%= link_to "top", root_path %>
             </button>
             <button type="button" class="btn btn-outline-primary mx-2">
               <%= link_to "マイページ", user_path(current_user) %>
             </button>
             <button type="button" class="btn btn-outline-primary mx-2">
               <%= link_to "みんなの投稿", posts_path %>
             </button>
             <button type="button" class="btn btn-outline-primary mx-2">
               <%= link_to "新規投稿", new_post_path %>
             </button>
             <button type="button" class="btn btn-outline-primary mx-2">
                <%= link_to "ブックマーク一覧", post_bookmarks_path(current_user) %>
             </button>
             <button type="button" class="btn btn-outline-primary mx-2">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
             </button>
          <% elsif admin_signed_in? %>
           <button type="button" class="btn btn-outline-primary mx-2">
             <%= link_to "管理者ログイン", new_admin_session_path %>
           </button>
           <button type="button" class="btn btn-outline-primary mx-2">
             <%= link_to "投稿一覧", admin_posts_path %>
           </button>
           <button type="button" class="btn btn-outline-primary mx-2">
             <%= link_to "会員一覧", admin_path %>
           </button>
           <button type="button" class="btn btn-outline-primary mx-2">
             <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
           </button>
           <div class="col-4 text-danger">
             <p>管理者としてログイン中</p>
           </div>
          <% else %>
            <button type="button" class="btn btn-outline-secondary mx-2">
               <%= link_to "ログイン", new_user_session_path %>
            </button>
            <button type="button" class="btn btn-outline-secondary mx-2">
              <%= link_to "新規登録", new_user_registration_path %>
            </button>
            <button type="button" class="btn btn-outline-secondary mx-2">
           　<%= link_to 'ゲストログイン（閲覧用）', public_guest_sign_in_path, method: :post %>
            </button>
          <% end %>
        </div>
      </div>
    </header>
      <%= yield %>
    </div>
  </body>
</html>
